<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IsLoop" value="False" />
    <!--版本升级检测时间间隔:毫秒-->
    <add key="UpdateInterval" value="3600000" />
    <!--保留近N天的日志-->
    <add key="ReserveLogDays" value="60" />
    <!--升级信息配置-->
    <add key="AEROEDUCLASS_APP_NAME" value="AeroEduClass" />
    <add key="AEROEDUCLASS_APP_PATH" value="C:\\Program Files (x86)\\北京航天云教育科技有限公司\\航天云课联网" />
    <add key="BOOTH CAMERA_APP_NAME" value="Booth Camera" />
    <add key="BOOTH CAMERA_APP_PATH" value="C:\\Program Files (x86)\\北京航天云教育科技有限公司\\航天云课联网\\Booth Camera" />
    <add key="RECORD PLAYER_APP_NAME" value="Record Player" />
    <add key="RECORD PLAYER_APP_PATH" value="C:\\Program Files (x86)\\北京航天云教育科技有限公司\\航天云课联网\\Record Player" />
    <add key="CLOUD_APP_NAME" value="Cloud" />
    <add key="CLOUD_APP_PATH" value="C:\\Program Files (x86)\\北京航天云教育科技有限公司\\航天云课联网"/>
    <add key="WAR_APP_NAME" value="War" />
    <add key="WAR_APP_PATH" value="C:\\Program Files\\Apache Software Foundation\\Tomcat 8.0\\webapps" />
    <add key="AEROEDUPLATFORM_APP_NAME" value="AeroEduPlatform" />
    <add key="AEROEDUPLATFORM_APP_PATH" value="D:\\AeroEduPlatform" />
    <!--版本号-->
    <add key="Version" value="1.0.0" />
    <add key="XMLURL" value="http://139.129.223.76:81/data/version/version.xml" />
    <!--<add key="XMLURL" value="http://192.168.30.195:81/data/version/version.xml" />-->
    <add key="AeroEduClassVersion" value="1.0.0" />
    <add key="AeroEduClassMD5" value="111111" />
    <add key="Record PlayerVersion" value="1.0.0" />
    <add key="Record PlayerMD5" value="111111" />
    <add key="Booth CameraVersion" value="1.0.0" />
    <add key="Booth CameraMD5" value="111111" />
    <add key="WarVersion" value="1.0.0" />
    <add key="WarMD5" value="111111" />
    <add key="CloudVersion" value="1.0.0" />
    <add key="CloudMD5" value="111111" />
    <add key="AeroEduPlatformVersion" value="1.0.0" />
    <add key="AeroEduPlatformMD5" value="111111" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>