<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CefSharp" publicKeyToken="40c4b6fc221f4138" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-47.0.3.0" newVersion="47.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CefSharp.Core" publicKeyToken="40c4b6fc221f4138" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-47.0.3.0" newVersion="47.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="iactiveMeetingServiceSoap11Binding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.aero-educlass.com/services/iactiveMeetingService.iactiveMeetingServiceHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="iactiveMeetingServiceSoap11Binding"
        contract="Aero.iactiveMeetingServicePortType" name="iactiveMeetingServiceHttpSoap11Endpoint" />
    </client>
  </system.serviceModel>
</configuration>