<?xml version="1.0" encoding="utf-8" ?>
<config>
  <!--登录页地址-->
  <LoginPageUrl>/login.html</LoginPageUrl>
  <!--首页地址-->
  <HomePageUrl>/html/ajax/index.html#page/index</HomePageUrl>
  <!--同频互动列表的服务地址-->
  <PostServer>/JsonServler</PostServer>
  <!--同频互动网址-->
  <ActivePath>/html/ajax/index.html#page/getWdMeetingList</ActivePath>
  <!--直播页面地址-->
  <LiveServer>/html/ajax/index.html#page/videoStartCourse</LiveServer>
  <!--设备归属查询服务器-->
  <AscriptionServer>http://aero-educloud.com/CloudPlatform/findClassInfoByMac.do?macAddress=</AscriptionServer>
  <!--名博优课-->
  <MingboUClass>D:\航天优课智慧教学系统v4.0.2.13740\Teacher.exe</MingboUClass>
  <!--录播应用程序相对路径-->
  <RecordPlayPath>Record Player\Record Player.exe</RecordPlayPath>
  <!--实物展台应用程序相对路径-->
  <BoothCameraPath>Booth Camera\Booth Camera.exe</BoothCameraPath>
  <!--航天云态度表达软件相对路径-->
  <AttitudePath>Attitude\航天云态度表达.exe</AttitudePath>
  <!--电子白板应用程序绝对路径-->
  <AeroBoardPath>C:\Program Files (x86)\航天云白板软件\DonviewBoard.exe</AeroBoardPath>
  <!--本地查询文件，当网络获取不到归属时使用-->
  <AscriptionFilePath>D:\AeroEduPlatform\AeroEduPlatform.exe.config</AscriptionFilePath>
  <!--CCLive直播课程的服务器地址，请从界面上配置，禁止修改此处-->
  <CCLiveServer></CCLiveServer>
  <!--是否在主界面上显示名博优课，true显示，false不显示-->
  <UseUKe>false</UseUKe>
  <!--是否在主界面上显示CCLive的直播课程，true显示，false不显示-->
  <UseCCLive>false</UseCCLive>
  <!--是否在主界面上显示远程观课，true显示，false不显示-->
  <UseYCGK>true</UseYCGK>
  <!--是否在主界面上显示远程播课，true显示，false不显示-->
  <UseYCBK>true</UseYCBK>
  <!--是否启用态度表达软件 true/false-->
  <UseAttitude>false</UseAttitude>
  <!--局域网U4MAC查询网址,U4专用-->
  <MacHtml>http://192.168.5.122/getmac.php</MacHtml>
</config>