<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--航天云设备型号-->
    <add key="HTYDeviceType" value="YJ-400" />
    <!--远程共享端口上报时间间隔:毫秒-->
    <add key="RemoteMonitorInterval" value="300000" />
    <!--版本升级检测时间间隔:毫秒-->
    <add key="UpdateInterval" value="3600000" />
    <!--课件压缩服务检测时间间隔：毫秒-->
    <add key="ZipCourseInterval" value="60000" />
    <!--保留近N天的日志-->
    <add key="ReserveLogDays" value="60" />
    <!--端口、MAC上报服务配置-->
    <!--<add key="OpentsdbPostUrl" value="http://121.42.32.109:5151/api/put"></add>
    <add key="MysqlPostUrl" value="http://139.129.223.76/CloudPlatform/collectedDeviceInfo.do"/>-->
    <!--本地测试-->
    <add key="OpentsdbPostUrl" value="http://192.168.30.178:5151/api/put"></add>
    <add key="MysqlPostUrl" value="http://192.168.30.195:8080/CloudPlatform/collectedDeviceInfo.do"/>
    <add key="provinceName" value="北京市" />
    <add key="provinceCode" value="110000" />
    <add key="cityName" value="市辖区" />
    <add key="cityCode" value="110100" />
    <add key="districtName" value="丰台区" />
    <add key="districtCode" value="110106" />
    <add key="schoolName" value="新华文轩" />
    <add key="ClassName" value="新机" />
    <!--课件压缩服务配置-->
    <add key="RecordDataPath" value="D:\录播录制文件\" />
    <add key="BoothDataPath" value="D:\实物展台录制文件\视频\" />
    <add key="boothcameraurl" value="192.168.5.3"/>
    <add key="teachercameraurl" value="192.168.5.4"/>
    <add key="studentcameraurl" value="192.168.5.5"/>
    <!--设备归属服务器地址,用户查询该设备所属:省市区学校班级,参数:MAC-->
    <!--<add key="AscriptionServer" value="http://192.168.30.195:8080/CloudPlatform/findClassInfoByMac.do?macAddress="/>-->
    <add key="AscriptionServer" value="http://139.129.223.76/CloudPlatform/findClassInfoByMac.do?macAddress="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>