<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--是否写日志 true,false-->
    <add key="Log" value="true"/>
    <!--浮动窗口起始位置-->
    <add key="frmfloat_x" value="932"/>
    <add key="frmfloat_y" value="420"/>
    <!--学生信息接口-->
    <add key="studentinterface" value="http://192.168.30.198:8080/CloudPlatform/findStuinfoByAnswernum.do"/>
    <!--学生评价数据接收服务器-->
    <add key="stuuploaddataserver" value="http://192.168.0.112:8080/aeroteacher/stuCommentStuData.do"/>
    <!--教师评价数据接收服务器-->
    <add key="teauploadserver" value="http://192.168.0.112:8080/aeroteacher/stuCommentTeaData.do"/>
  </appSettings>
</configuration>